# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
!conda install xlrd==2.0.1 -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

==> WARNING: A newer version of conda exists. <==
  current version: 23.7.4
  latest version: 23.10.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.10.0

In [3]:
data_set_clean = pd.read_csv("data_set_cleaned-Copy1.csv")
data_set_2 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
data_set_3 = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")

In [4]:
from unique_values_columns import unique_values_columns
unique_values_columns(data_set_2)
unique_values_columns(data_set_3)

['GS98873' 'CW49887' 'MY31220' 'UH35128' 'WH52799' 'WL99637' 'UC84059'
 'HW62747' 'BH11344' 'TX28465' 'OK56965' 'WT22392' 'PH85036' 'KC71643'
 'NR32615' 'GS69842' 'WT71621' 'KD23847' 'PE59368' 'NK91488' 'CR33417'
 'WP73172' 'PS30217' 'EL62967' 'MU23938' 'VC83809' 'VL34577' 'QE12539'
 'YO15246' 'WF73839' 'TJ11671' 'SV34223' 'XD19546' 'OY95739' 'SW57539'
 'IA62027' 'FZ20933' 'WR62597' 'KU61611' 'XW98867' 'PP80817' 'DT77901'
 'DX34647' 'OD56551' 'OO63074' 'EH24828' 'CX99919' 'DG80424' 'NU32697'
 'PU98976' 'ZR20842' 'NF35573' 'DF66914' 'YM99866' 'VH62084' 'SE28250'
 'MD86050' 'GF17866' 'UB16654' 'KO44736' 'KI55845' 'JJ24476' 'VC68509'
 'QN62502' 'EL92515' 'VL84149' 'JX19907' 'BC66921' 'RK24470' 'GN80437'
 'AH65907' 'VG57728' 'AF81450' 'YI28422' 'GR26937' 'BR99015' 'PB11270'
 'PZ89632' 'LV62981' 'AS97690' 'SG32258' 'MY80583' 'WS57286' 'MF53477'
 'DQ28641' 'EX46492' 'VW20823' 'LH26563' 'FR56877' 'ZY99878' 'CS15289'
 'MM49431' 'IA96447' 'PT32230' 'NK73719' 'OH15771' 'XP61034' 'ZN34245'
 'FX55923' 'ZZ83340' 'HA99340' 'LE43061' 'UF77413' 'UY45293' 'TH84309'
 'PZ94551' 'UE76013' 'HS85465' 'SI78985' 'KF50730' 'JO13576' 'HJ79774'
 'KI18648' 'EL99335' 'LE84979' 'CE12380' 'BJ22117' 'JF83834' 'YN10988'
 'YX15941' 'ZB50601' 'HP50399' 'GC17585' 'QW17286' 'DO41287' 'GT54462'
 'BT76268' 'QM38267' 'LP82042' 'EF52978' 'GH54524' 'DP26592' 'UP29839'
 'IB80924' 'OB55054' 'NP91656' 'SH74080' 'KN25556' 'RB38792' 'QR72180'
 'TW64385' 'TM13955' 'GF94951' 'NF53775' 'YB58778' 'PH77560' 'ZO14864'
 'BI34376' 'UQ63396' 'BR23201' 'VH45094' 'KD47243' 'MY13737' 'OR48881'
 'BD77090' 'LW77178' 'BQ12347' 'FF61670' 'PM61374' 'BW25236' 'XO22038'
 'QG51953' 'SZ56338' 'PX60116' 'BW46202' 'GW14109' 'GP42026' 'DH41343'
 'PY42157' 'OL36978' 'KT40899' 'WE60408' 'LG64797' 'MD87746' 'QP80741'
 'WO59883' 'MU79385' 'JH30384' 'LL45497' 'SK95364' 'VG56765' 'NE24371'
 'KR48903' 'ZF27999' 'MH40017' 'YJ99764' 'AG22225' 'ZJ26179' 'VO36036'
 'ZQ94281' 'CK40732' 'UT73461' 'LT57320' 'BZ44726' 'VU32116' 'EG94326'
 'EJ43595' 'QI37869' 'SX65826' 'XO42145' 'WJ74851' 'IG68709' 'AC75391'
 'WO94087' 'YJ69332' 'WX87964' 'PD32641' 'CK39096' 'QV19964' 'BF72793'
 'WB12017' 'JO17193' 'AY84441' 'JQ65500' 'OI29521' 'MJ51323' 'QI64880'
 'HV93429' 'TA89713' 'OB98149' 'LE65901' 'FF68864' 'YX99200' 'LZ26801'
 'TA66375' 'SC92090' 'TK40018' 'ZD63451' 'AO98601' 'DT35588' 'VF87723'
 'QP69826' 'UW37050' 'UH62254' 'IA15979' 'DB71122' 'TM14491' 'OY94707'
 'LN55080' 'TZ47750' 'SJ74501' 'LE26899' 'ML34366' 'EI45850' 'LD75023'
 'JW12998' 'LP47259' 'XD21246' 'DW59142' 'KX54900' 'XV83643' 'XY33610'
 'GK48045' 'ET79528' 'RA66180' 'BC66536' 'PN22481' 'XR95069' 'IF38438'
 'ZC62609' 'FD64348' 'TA58285' 'WV66165' 'YE27183' 'TI47802' 'ZZ44902'
 'JD73594' 'VW82067' 'JS55721' 'ZB62469' 'HZ74609' 'TJ76363' 'QZ58370'
 'RF44930' 'VJ44100' 'KN13494' 'NL80137' 'NZ57065' 'NM42917' 'RR68322'
 'OF78862' 'SC93784' 'CM59084' 'QA41558' 'SD62061' 'VP13613' 'HF96939'
 'DU18362' 'UG34438' 'XQ19793' 'OB77084' 'LK74984' 'JE13986' 'QR15221'
 'LD49835' 'EK19337' 'GD55093' 'RX19151' 'TJ30354' 'TA75663' 'WG15841'
 'LO68739' 'BE61743' 'EG56026' 'VF21395' 'SI11249' 'PU95227' 'VO87785'
 'FS29897' 'JG36165' 'SJ42058' 'CU13711' 'GT65065' 'LO77543' 'UQ85283'
 'QA49556' 'GE29173' 'DF21541' 'JL59571' 'DF94525' 'YO58424' 'UF32671'
 'HO92982' 'MZ24175' 'YD48962' 'RI52095' 'MF18493' 'EP61084' 'EN38348'
 'FG46258' 'LS98306' 'PZ47477' 'LT32391' 'KK30016' 'OA89218' 'CY47265'
 'ZI47663' 'GO14008' 'BC43958' 'AI61368' 'UF37831' 'PO90615' 'GY74661'
 'MX50302' 'TC84427' 'IQ82914' 'TY74870' 'II83628' 'ZR77995' 'QT89604'
 'AB21519' 'MP47256' 'MA47641' 'GQ20713' 'WW87934' 'HF75276' 'ET64028'
 'QA41472' 'OZ92426' 'UM69933' 'RQ11502' 'TX98128' 'XY52165' 'GB39003'
 'VH43367' 'KG81168' 'WU14549' 'XB17553' 'MY88518' 'XE18554' 'NY97446'
 'VT96364' 'HF88410' 'DP92488' 'VC54081' 'CE94751' 'VM85856' 'EH37385'
 'FI45719' 'SB79528' 'WH81461' 'UD47050' 'XZ17273' 'XR97812' 'BW88060'
 'CP32818' 'CM52565' 'YP40334' 'KD63998' 'VC77127' 'AM30008' 'PC83755'
 'XS22323' 'ST27958' 'BH23017' 'OD18225' 'VE31507' 'NR18672' 'DM76654'
 'YY11432' 'GK67747' 'XA75063' 'PQ13422' 'NA89685' 'AL35726' 'WO70078'
 'CA56041' 'HI41970' 'AU46443' 'WC35554' 'JR10216' 'OH11674' 'US85318'
 'FS19862' 'ZP80713' 'OK50159' 'TP54769' 'FS49381' 'DQ79499' 'VH31965'
 'VO25602' 'EP93369' 'DQ45854' 'QG15661' 'YA80645' 'TW16499' 'UP97629'
 'NU42684' 'EM85557' 'BM69818' 'HK15299' 'NP88496' 'SB99002' 'ZH42145'
 'JG30837' 'AC22873' 'RO85831' 'NN65845' 'RZ27571' 'GH31557' 'MK73855'
 'IO27771' 'HB99061' 'HQ82089' 'JN72184' 'WQ46946' 'WJ44028' 'WH77063'
 'FI13966' 'AQ46199' 'WV69362' 'RJ90816' 'NH19236' 'VW88911' 'NV14535'
 'BM66931' 'JW24035' 'PG82270' 'RW65101' 'QO79771' 'EC44438' 'MW54213'
 'ZN33412' 'HZ56678' 'AN36757' 'NB54665' 'MG99229' 'MX76292' 'EJ90880'
 'WO95180' 'BU53191' 'ZK54897' 'PP48389' 'XD29421' 'OP26403' 'XK15687'
 'ED29955' 'QT84720' 'ZH35315' 'EE76374' 'SH51981' 'BS13111' 'JP12645'
 'ZF28570' 'UU93074' 'SZ60450' 'HL63895' 'UD27196' 'OU53351' 'SX50964'
 'RP30093' 'BK73302' 'CS93971' 'RG13940' 'ZG94155' 'QN15356' 'MZ16820'
 'DO98345' 'PA48777' 'UK76814' 'SR30440' 'XE66367' 'SZ70655' 'UV54502'
 'DK98861' 'JX14364' 'LI85491' 'JY87538' 'VE55982' 'WK99918' 'XP16538'
 'HW42900' 'JG84729' 'XH85336' 'ND29059' 'HC76653' 'SG73822' 'CB44654'
 'MP53505' 'YJ43481' 'TP15362' 'YX90754' 'TQ32702' 'TS50305' 'BY22068'
 'TJ48439' 'TE61015' 'RD89159' 'VW86720' 'UM76485' 'LS62045' 'ZG84862'
 'CD76093' 'FO99259' 'KN87338' 'LT89398' 'NZ19529' 'PR41853' 'ZF40671'
 'XR84971' 'BP83941' 'PY80449' 'ET22260' 'OF47250' 'WB58031' 'UV80201'
 'PY10605' 'JI82682' 'BU14748' 'QK18099' 'LD26428' 'MY43761' 'WQ89892'
 'GY55415' 'IB42395' 'ZU74482' 'NL74789' 'YU86594' 'QN37451' 'GD83998'
 'IL83479' 'EF87528' 'IV74747' 'JZ81608' 'EO40136' 'ZR40902' 'PO89542'
 'FX57380' 'NM22175' 'BC97773' 'MN34012' 'KY29506' 'VU84949' 'HC20975'
 'IF87079' 'EP18940' 'SB44003' 'MK15785' 'VP89545' 'HJ58678' 'MW80236'
 'IA52178' 'WC42895' 'JP41935' 'YM77369' 'WV15213' 'GX37592' 'VM34210'
 'YJ59924' 'OO35641' 'EU54076' 'QH56750' 'PQ27923' 'ES16126' 'PG42834'
 'OY44814' 'JI97190' 'ZK61113' 'MU88116' 'TP61305' 'ZY20779' 'KP65334'
 'OH15677' 'HB53755' 'UF77079' 'TD20252' 'TH68362' 'TO34442' 'MP96373'
 'CV72453' 'OY92520' 'UY95530' 'FB84235' 'MJ14480' 'KW81128' 'DQ98402'
 'WN53966' 'QK69627' 'QC55306' 'WV79842' 'DF40318' 'TN90661' 'ZU88029'
 'TQ88221' 'KH34667' 'HW54198' 'GZ79662' 'YA11342' 'ZW18871' 'QZ17137'
 'UV53712' 'SJ43436' 'VW46878' 'TW91179' 'LG19551' 'AI49712' 'WN14473'
 'WH62198' 'SP85148' 'FB49203' 'FF94341' 'TS42594' 'IL43607' 'FL85008'
 'AN47199' 'SV28347' 'IC78105' 'RB28630' 'KA32645' 'QD73891' 'LM58949'
 'YG40323' 'EP82214' 'EO91797' 'RU50098' 'QW10541' 'SB50826' 'XX29952'
 'AT93647' 'QP56563' 'UF88986' 'TY43440' 'NJ15094' 'MM45334' 'KH93988'
 'RY38931' 'CV48634' 'TN76120' 'ZS96174' 'MI62456' 'DD44177' 'NX31380'
 'KQ43374' 'XA54112' 'QB14087' 'FV42881' 'AV76907' 'VM85555' 'ZU88113'
 'SZ75668' 'MZ65087' 'EL61402' 'CJ31839' 'XM11175' 'LF41085' 'MB19556'
 'HC74532' 'SB66770' 'JI25066' 'PY98958' 'RA65645' 'FQ79356' 'TM25808'
 'XO46388' 'LB81265' 'JR38787' 'KZ22690' 'NY49598' 'KY39767' 'YU35386'
 'TF82172' 'ER40041' 'MS39869' 'PV77906' 'QF21045' 'HF65914' 'AJ58038'
 'ZR88383' 'OT49339' 'FI74985' 'JW15301' 'PY20159' 'NC42524' 'ZG19911'
 'DI89983' 'IG56214' 'CA86085' 'UO95739' 'SB64873' 'TE82896' 'VY64199'
 'IE82679' 'SL70257' 'XJ85947' 'EF84269' 'NY91328' 'AT49447' 'BM70908'
 'GM63998' 'AR61426' 'CB62406' 'WH82416' 'UI53874' 'LM44949' 'JR59597'
 'ZS22428' 'AZ34845' 'XZ34917' 'QU20310' 'NQ42020' 'ZF40143' 'GU65780'
 'KY32675' 'ZX35838' 'LU42720' 'FB25242' 'RW51650' 'XX94684' 'AH99727'
 'NZ85858' 'JU19953' 'LC33025' 'BV86143' 'AY88788' 'OJ33945' 'LO84523'
 'HZ25580' 'AR96516' 'JP69864' 'DL26809' 'MV69686' 'SC95565' 'RL31641'
 'OH83248' 'DB28979' 'ZS32263' 'IY59173' 'KL17620' 'CP28581' 'QR15592'
 'RI85578' 'TG68823' 'WO78310' 'SC78905' 'EL88957' 'SS54050' 'ZV99487'
 'XI51746' 'KG85675' 'KK64803' 'OM80593' 'RL59810' 'QQ53360' 'WR76339'
 'BA40043' 'MK52197' 'SV48204' 'RJ79502' 'LY14355' 'NL32558' 'CP92616'
 'BP28492' 'MX28412' 'DT99586' 'IC41932' 'DA35744' 'GU96042' 'UW98698'
 'SF32458' 'OM85313' 'MH81246' 'OH99089' 'TG57800' 'GX19342' 'XE39286'
 'JA93297' 'II37789' 'IC32996' 'LO67195' 'PG93638' 'OZ41737' 'OY66019'
 'CH73843' 'XT93203' 'OR85652' 'LR10110' 'XK11432' 'OX24868' 'EZ74530'
 'HP46467' 'KP54476' 'AI47152' 'BU15334' 'GD59796' 'OX59701' 'OD63728'
 'JC38573' 'RC11491' 'RZ24101' 'OB88698' 'IK92617' 'YH43996' 'BJ65040'
 'WY57101' 'OG77759' 'HN38084' 'GD11927' 'MC20349' 'HM22034' 'KH48996'
 'VF32979' 'LS90887' 'EN72010' 'KH44031' 'GJ47896' 'GD87742' 'MD14027'
 'XA32915' 'XR52852' 'EZ48947' 'OJ50322' 'XB77333' 'QB58745' 'IG62421'
 'SF29724' 'WM95454' 'CB96381' 'MJ60422' 'NC63295' 'CM55703' 'ZE76673'
 'TO60700' 'WF34690' 'ZM28138' 'FI14842' 'KC32511' 'NE10467' 'PT93474'
 'RL74454' 'DQ31994' 'DN98431' 'EV53200' 'AJ89107' 'WS25565' 'ZY33234'
 'PS69748' 'HL33607' 'DG90902' 'SW96063' 'CP19929' 'KR50062' 'CU19735'
 'ST52914' 'WQ68301' 'LR33381' 'UR36912' 'SK46419' 'BY88757' 'ER65086'
 'TP87527' 'VL80291' 'WL45773' 'TT36693' 'PT12544' 'CI24326' 'YQ73717'
 'FG99706' 'OM63414' 'JQ74890' 'FP93662' 'SA40041' 'EW82164' 'KV99550'
 'CA96230' 'QN17712' 'KM79894' 'KR25511' 'DZ45471' 'DE18949' 'BN74268'
 'QJ93301' 'OO92815' 'HV50891' 'RK59543' 'IH54239' 'GB14456' 'RC95515'
 'TI61458' 'RB49468' 'SJ18454' 'KC19420' 'TP12241' 'BD89564' 'EC71986'
 'CJ97736' 'QF59448' 'YB70005' 'QI40455' 'YL72747' 'FL18392' 'AL21967'
 'KC67431' 'EG40823' 'QO89177' 'AV72430' 'TL18087' 'WI29961' 'ZR11692'
 'No36572' 'YZ56105' 'MN62189' 'MQ32284' 'NS38229' 'IB41597' 'IP68868'
 'EL70257' 'NB27041' 'BM28359' 'VB77950' 'PE47967' 'QR47308' 'YU49449'
 'KN25124' 'HI51182' 'MS18916' 'IE40701' 'UT48216' 'VN92740' 'IZ55070'
 'HI74419' 'MP76478' 'DY30071' 'ZN24083' 'JU74347' 'YJ35850' 'IE15348'
 'GP67816' 'PW51793' 'UF59346' 'FG29932' 'UX71137' 'BY54111' 'RM83767'
 'PT15464' 'BP92643' 'BW94308' 'GQ46925' 'RF14806' 'KJ23009' 'IB81655'
 'SV62436' 'HR64684' 'QS96715' 'SW55711' 'LZ19268' 'FU74983' 'KB99097'
 'AP52126' 'EX61844' 'QC30857' 'RT69513' 'HV85198' 'BS91566' 'IL40123'
 'MY32149' 'SA91515']
['Arizona' 'California' 'Oregon' 'Nevada' 'Washington' 'AZ']
['F' 'M' nan 'female' 'Male']
['Bachelor' 'Master' 'College' 'Doctor' 'Bachelors' 'High School or Below']
['323912.47%' '462680.11%' '899704.02%' '2580706.30%' '380812.21%'
 '761413.80%' '689845.53%' '229837.92%' '280669.61%' '520611.82%'
 '4570865.34%' '800734.91%' '548254.94%' '246323.68%' '549894.07%'
 '524382.80%' '328045.73%' '488654.43%' '512348.50%' '547955.51%'
 '476215.70%' '828767.93%' '988665.64%' '271291.56%' '1047767.63%'
 '343613.43%' '259618.52%' '1273195.16%' '349414.79%' '759791.07%'
 '401521.45%' '2047710.84%' '816068.98%' '1229868.63%' '871492.21%'
 '485353.42%' '488094.64%' '231138.21%' '432709.89%' '832353.33%'
 '1017971.70%' '776126.78%' '523989.09%' '451790.88%' '238977.41%'
 '413062.88%' '269156.90%' '522776.64%' '618734.57%' '511387.47%'
 '1103931.62%' '3222708.39%' '261196.59%' '1337232.77%' '483898.19%'
 '472165.90%' '387364.70%' '471855.85%' '1697979.76%' '1368171.18%'
 '571722.19%' '948659.64%' '383914.37%' '1121159.03%' '379832.17%'
 '281656.74%' '502929.70%' '344496.75%' '285940.86%' '269205.76%'
 '1143173.09%' '763588.33%' '980582.96%' '680361.56%' '710765.54%'
 '473518.45%' '687432.67%' '241125.66%' '241654.24%' '2398154.34%'
 '469216.52%' '360093.43%' '266522.25%' '766652.04%' '1667589.62%'
 '455085.60%' '1176393.57%' '1374253.72%' '1613841.63%' '729858.36%'
 '667373.77%' '778212.68%' '1939321.15%' '397413.82%' '410558.10%'
 '230847.21%' '537291.45%' '550831.55%' '239833.32%' '372883.01%'
 '275849.86%' '370393.03%' '937284.36%' '499158.45%' '503986.93%'
 '275997.83%' '799300.40%' '523557.35%' '263301.18%' '276480.23%'
 '808484.64%' '268517.77%' '1220812.00%' '2009043.87%' '513341.48%'
 '249131.70%' '631459.68%' '1622964.89%' '516178.99%' '398226.61%'
 '1347318.57%' '277832.39%' '827644.42%' '1434985.99%' '587819.93%'
 '266605.45%' '534568.10%' '477712.16%' '1697374.02%' '251811.21%'
 '1916098.99%' '3286440.46%' '396481.30%' '491177.31%' '780531.29%'
 '720066.49%' '538949.95%' '324131.42%' '552821.28%' '299302.46%'
 '707665.32%' '370038.50%' '532883.59%' '483887.71%' '341720.50%'
 '787992.90%' '786943.24%' '258680.72%' '728678.91%' '1179799.21%'
 '938675.30%' '630892.24%' '860915.82%' '1542801.04%' '563079.30%'
 '1813118.87%' '808721.95%' '1845357.63%' '521751.33%' '483578.32%'
 '559712.50%' '892046.40%' '599541.10%' '3849694.70%' '838263.01%'
 '244366.52%' '247225.39%' '540551.84%' '935247.90%' '433987.11%'
 '1772376.40%' '750745.54%' '604857.42%' '1901447.63%' '1008037.03%'
 '650339.70%' '248772.97%' '462039.01%' '247152.84%' '649424.40%'
 '250490.76%' '490489.47%' '480247.70%' '795577.48%' '694190.08%'
 '838247.84%' '353643.18%' '324481.66%' '761121.28%' '450539.83%'
 '244584.48%' '1647776.84%' '354640.02%' '427727.01%' '478477.35%'
 '757223.77%' '1176087.64%' '393381.40%' '570076.18%' '349863.48%'
 '576809.13%' '636195.40%' '493519.00%' '578522.35%' '561968.91%'
 '259928.96%' '673297.09%' '1832186.65%' '230069.15%' '400285.76%'
 '862099.74%' '1038898.60%' '842717.25%' '700727.42%' '517657.91%'
 '470000.75%' '443494.14%' '1401052.74%' '1235005.82%' '816157.69%'
 '1100913.05%' '871704.98%' '591746.66%' '250366.04%' '501888.52%'
 '433038.60%' '1048774.33%' '356750.38%' '1989642.23%' '2142363.72%'
 '694832.59%' '351583.19%' '1203662.05%' '360979.83%' '1773246.49%'
 '850985.09%' '586642.43%' '482550.09%' '777800.56%' '2634608.58%'
 '1486645.12%' '832423.27%' '923830.60%' '2269329.08%' '623601.86%'
 '501218.48%' '1569553.94%' '821460.24%' '311898.11%' '276403.21%'
 '688368.66%' '221591.29%' '485474.57%' '2152294.75%' '276169.17%'
 '2256361.84%' '528591.83%' '3506264.80%' '591319.90%' '259339.87%'
 '1269267.09%' '330911.97%' '518162.09%' '241393.06%' '216168.55%'
 '552798.89%' '1062921.79%' '1182010.98%' '496463.15%' '912292.56%'
 '346066.50%' '287298.08%' '992787.77%' '348268.70%' '399172.72%'
 '551010.74%' '541945.81%' '581063.05%' '394272.58%' '312627.19%'
 '353000.77%' '1099059.48%' '477294.38%' '220233.52%' '245917.17%'
 '1037388.88%' '258420.39%' '430742.28%' '304025.38%' '817657.68%'
 '528530.76%' '802499.30%' '281046.44%' '773955.04%' '410979.36%'
 '327516.20%' '265269.53%' '504822.62%' '336241.44%' '485842.94%'
 '214492.15%' '604261.85%' '338720.33%' '1086427.49%' '884265.00%'
 '261661.39%' '3076325.64%' '520022.78%' '859130.54%' '264657.38%'
 '460724.43%' '486062.00%' '258084.99%' '529139.53%' '840575.30%'
 '309651.12%' '2941228.93%' nan '1749752.20%' '321860.86%' '2320726.97%'
 '692197.40%' '1391853.48%' '896630.98%' '1198198.48%' '553262.98%'
 '1166057.30%' '288645.16%' '1274184.75%' '539809.81%' '728503.10%'
 '1765196.34%' '1702989.34%' '249125.76%' '403931.50%' '261933.74%'
 '504968.96%' '498345.71%' '253063.94%' '739671.97%' '383289.85%'
 '496140.59%' '386148.63%' '2265853.65%' '1040896.87%' '483471.05%'
 '825766.65%' '305262.95%' '401231.93%' '1335548.64%' '236443.16%'
 '248933.79%' '475572.00%' '1386438.50%' '302042.48%' '628530.52%'
 '250602.20%' '282630.76%' '436971.79%' '1217458.80%' '352804.43%'
 '1043657.47%' '274612.14%' '917517.19%' '272752.08%' '944974.59%'
 '456881.94%' '257402.04%' '878988.41%' '250740.78%' '252241.46%'
 '754271.40%' '600521.48%' '2099825.95%' '234508.45%' '878316.54%'
 '452996.54%' '603322.24%' '530824.70%' '267473.07%' '492980.75%'
 '1413112.13%' '438627.76%' '1911656.81%' '663166.55%' '743229.99%'
 '292811.51%' '4661187.38%' '1651500.93%' '1021356.34%' '1004928.59%'
 '574614.83%' '374675.16%' '748606.84%' '912006.52%' '567804.67%'
 '751708.38%' '453053.07%' '269138.06%' '806862.39%' '247857.67%'
 '911204.15%' '277244.13%' '430579.32%' '510335.76%' '478496.05%'
 '1054110.98%' '528511.87%' '761084.05%' '851052.59%' '1617294.05%'
 '242549.48%' '289931.72%' '363305.40%' '345715.42%' '339472.03%'
 '802106.71%' '584152.81%' '547985.42%' '2045524.95%' '831912.30%'
 '258286.23%' '416379.34%' '485310.03%' '753169.73%' '258593.70%'
 '269596.39%' '268458.16%' '810936.46%' '903665.76%' '535218.70%'
 '1188096.62%' '255709.43%' '791482.31%' '984008.26%' '435155.05%'
 '2220782.62%' '482525.86%' '694783.88%' '334480.95%' '235750.31%'
 '3594471.05%' '404816.13%' '685200.19%' '290302.42%' '1803911.42%'
 '324204.39%' '246762.08%' '567438.34%' '863435.60%' '278019.69%'
 '2205600.50%' '251459.20%' '588622.11%' '770603.63%' '279045.82%'
 '239703.61%' '883432.28%' '1443567.37%' '687196.66%' '1536235.44%'
 '483479.75%' '1089930.18%' '528404.10%' '289172.68%' '490054.51%'
 '2084259.63%' '524605.72%' '663083.61%' '389503.48%' '1170106.99%'
 '341910.87%' '730277.51%' '1968540.91%' '248606.49%' '522432.88%'
 '4922143.07%' '316788.87%' '1319792.89%' '623430.59%' '753960.06%'
 '815793.36%' '1315674.90%' '533938.84%' '864917.50%' '751913.36%'
 '429300.96%' '253774.45%' '1316033.89%' '1323554.44%' '374457.77%'
 '2848607.28%' '264468.46%' '507328.21%' '427258.51%' '1100301.65%'
 '1418164.28%' '554803.19%' '1107768.59%' '243568.90%' '874385.22%'
 '240976.09%' '550001.25%' '852828.87%' '359199.61%' '853982.69%'
 '699091.78%' '397938.82%' '2395037.44%' '232105.25%' '508702.05%'
 '436293.12%' '745746.81%' '702775.96%' '283168.37%' '421785.79%'
 '759629.15%' '836567.76%' '272639.30%' '342045.22%' '483910.72%'
 '435855.35%' '1242739.37%' '2351585.33%' '839632.76%' '517097.64%'
 '558530.81%' '863949.50%' '528183.35%' '838525.23%' '463310.13%'
 '248039.27%' '361868.69%' '537584.28%' '489329.15%' '1073768.43%'
 '260781.55%' '1572525.05%' '955341.55%' '732492.82%' '533303.81%'
 '1276723.06%' '265933.80%' '348363.04%' '463654.65%' '1753003.66%'
 '697871.98%' '291224.84%' '420927.93%' '500980.89%' '1149033.62%'
 '286454.40%' '840391.02%' '2039596.88%' '529263.25%' '1672777.19%'
 '580112.83%' '947297.38%' '1048491.54%' '438731.09%' '452288.35%'
 '541815.21%' '1578529.69%' '2211039.80%' '1359619.97%' '475612.62%'
 '244705.31%' '567592.33%' '739903.21%' '730843.39%' '3287174.78%'
 '522892.01%' '2070086.45%' '633303.08%' '629273.54%' '491788.96%'
 '516581.00%' '629159.00%' '458267.42%' '606244.16%' '497907.99%'
 '583056.14%' '374257.91%' '384959.67%' '1526581.49%' '531780.72%'
 '237480.92%' '553286.33%' '571978.57%' '451220.44%' '726480.39%'
 '865886.38%' '559938.29%' '1522819.87%' '364483.36%' '369344.08%'
 '938816.29%' '3116269.33%' '928373.78%' '255122.67%' '581191.81%'
 '406467.06%' '284144.31%' '683213.39%' '520197.14%' '548458.82%'
 '767268.14%' '827248.54%' '333067.28%' '556245.64%' '245273.86%'
 '792028.29%' '576478.42%' '259389.79%' '288235.06%' '221318.79%'
 '942962.94%' '623925.75%' '766880.96%' '1377097.62%' '274284.43%'
 '1346692.07%' '885835.20%' '848533.00%' '774464.44%' '589490.74%'
 '577068.41%' '526111.75%' '240353.95%' '912460.00%' '2618080.53%'
 '1564125.86%' '531983.87%' '749600.66%' '1217458.96%' '260557.08%'
 '270720.85%' '279490.75%' '881901.89%' '534599.46%' '816951.40%'
 '770888.39%' '1212844.67%' '679684.48%' '286731.22%' '239557.00%'
 '709416.77%' '412809.13%' '404693.61%' '486928.28%' '290215.19%'
 '428294.80%' '775012.03%' '662717.46%' '747460.58%' '556129.14%'
 '609846.21%' '285952.89%' '599442.46%' '563524.95%' '506720.83%'
 '226328.46%' '492839.71%' '856476.82%' '236188.39%' '556569.33%'
 '514680.98%' '293808.03%' '1443274.64%' '1302741.98%' '245198.88%'
 '466198.41%' '560001.02%' '401613.28%' '2219580.30%' '734335.37%'
 '480451.43%' '273553.89%' '694097.28%' '239621.93%' '538089.86%'
 '843281.57%' '755650.75%' '778743.17%' '478781.29%' '970764.76%'
 '255222.62%' '522342.93%' '501044.93%' '560831.63%' '445793.63%'
 '820078.73%' '274608.01%' '1021577.92%' '245357.08%' '587295.88%'
 '311892.79%' '556865.65%' '902971.47%' '759182.72%' '225531.29%'
 '3261369.04%' '944564.95%' '680359.68%' '976621.71%' '729484.61%'
 '568251.53%' '633294.18%' '491657.70%' '479824.09%' '564380.24%'
 '924746.44%' '732292.89%' '827590.01%' '563540.37%' '1497028.51%'
 '933633.69%' '4835696.08%' '568691.53%' '862283.54%' '507967.48%'
 '562331.45%' '527001.36%' '862117.22%' '791833.49%' '2103401.82%'

In [5]:
from lower_name_columns import lower_name_columns
lower_name_columns(data_set_2)
lower_name_columns(data_set_3)

In [6]:
from rename_columns import rename_columns
rename_columns(data_set_2, options = {"customer lifetime value":"customer_lifetime_value", 
                            "monthly premium auto":"monthly_premium_auto",
                           "number of open complaints":"number_of_open_complaints",
                           "total claim amount":"total_claim_amount",
                           "policy type":"policy_type", "vehicle class":"vehicle_class",
                            "st":"state"})
rename_columns(data_set_3, options = {"customer lifetime value":"customer_lifetime_value", 
                            "monthly premium auto":"monthly_premium_auto",
                           "number of open complaints":"number_of_open_complaints",
                           "total claim amount":"total_claim_amount",
                           "policy type":"policy_type", "vehicle class":"vehicle_class"})
rename_columns(data_set_clean, options = {"st":"state"})

In [7]:
from replace_inconsistencies import replace_inconsistencies
replace_inconsistencies(data_set_2, 'state', 'AZ', 'Arizona')
replace_inconsistencies(data_set_2, 'education', 'Bachelors', 'Bachelor')
replace_inconsistencies(data_set_2, 'vehicle_class', 'Sports Car', 'Luxury')
replace_inconsistencies(data_set_2, 'vehicle_class', 'Luxury Car', 'Luxury')
replace_inconsistencies(data_set_2, 'vehicle_class', 'Luxury SUV', 'Luxury')

replace_inconsistencies(data_set_3, 'vehicle_class', 'Sports Car', 'Luxury')
replace_inconsistencies(data_set_3, 'vehicle_class', 'Luxury Car', 'Luxury')
replace_inconsistencies(data_set_3, 'vehicle_class', 'Luxury SUV', 'Luxury')

In [8]:
data_set_2['number_of_open_complaints'] = data_set_2['number_of_open_complaints'].map({'1/0/00':'0', '1/2/00':'2', '1/1/00':'1', '1/3/00':'3', '1/5/00':'5', '1/4/00':'4'})

In [9]:
from remove_percent import remove_percent
remove_percent(data_set_2, 'customer_lifetime_value')

In [10]:
from clean_gender_column import clean_gender_column
data_set_2 = clean_gender_column(data_set_2)

In [11]:
data_set_2['gender'].value_counts()
#as there are only 5 "U" I will proceed to drop them

gender
F    529
M    462
U      5
Name: count, dtype: int64

In [12]:
data_set_2.drop(data_set_2.loc[data_set_2['gender'] == "U"].index, inplace=True)
data_set_2['gender'].value_counts()

gender
F    529
M    462
Name: count, dtype: int64

In [13]:
from replace_nan_mode import replace_missing_values
replace_missing_values(data_set_2, 'customer_lifetime_value')

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47,16061,88,0,633.6,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11,79487,114,0,547.2,Special Auto,SUV
2,MY31220,California,F,College,899704.02,54230,112,0,537.6,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30,71210,214,1,1027.2,Personal Auto,Luxury
4,WH52799,Arizona,F,College,380812.21,94903,94,0,451.2,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75,63513,70,0,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91,58161,68,0,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41,83640,70,0,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38,0,96,0,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39,0,111,0,700.349052,Personal Auto,SUV

In [14]:
display(data_set_2.isna().sum())
display(data_set_3.isna().sum())
#confirming data set was cleaned

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
total_claim_amount           0
policy_type                  0
vehicle_class                0
dtype: int64

customer                     0
state                        0
customer_lifetime_value      0
education                    0
gender                       0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
total_claim_amount           0
vehicle_class                0
dtype: int64

In [15]:
data_set_2['income'] = data_set_2['income'].astype('float64')
data_set_2['monthly_premium_auto'] = data_set_2['monthly_premium_auto'].astype('float64')
data_set_2['total_claim_amount'] = data_set_2['total_claim_amount'].astype('float64')
data_set_2['customer_lifetime_value'] = data_set_2['customer_lifetime_value'].astype('float64')
data_set_2['number_of_open_complaints'] = data_set_2['number_of_open_complaints'].astype('int')
data_set_2.dtypes
#setting correct data types

customer                      object
state                         object
gender                        object
education                     object
customer_lifetime_value      float64
income                       float64
monthly_premium_auto         float64
number_of_open_complaints      int32
total_claim_amount           float64
policy_type                   object
vehicle_class                 object
dtype: object

In [16]:
data_set_3.dtypes

customer                      object
state                         object
customer_lifetime_value      float64
education                     object
gender                        object
income                         int64
monthly_premium_auto           int64
number_of_open_complaints      int64
policy_type                   object
total_claim_amount           float64
vehicle_class                 object
dtype: object

In [17]:
display(data_set_2)
display(data_set_3)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,GS98873,Arizona,F,Bachelor,323912.47,16061.0,88.0,0,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11,79487.0,114.0,0,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02,54230.0,112.0,0,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30,71210.0,214.0,1,1027.200000,Personal Auto,Luxury
4,WH52799,Arizona,F,College,380812.21,94903.0,94.0,0,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75,63513.0,70.0,0,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91,58161.0,68.0,0,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41,83640.0,70.0,0,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38,0.0,96.0,0,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39,0.0,111.0,0,700.349052,Personal Auto,SUV

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [18]:
data_set_combined = pd.concat([data_set_clean, data_set_2, data_set_3], axis = 0, join = 'inner')
display(data_set_combined)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
0,RB50392,Washington,F,Master,7936.902593,0.0,1000.0,0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,6979.535900,0.0,94.0,0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,12887.431700,48767.0,108.0,0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,7645.861800,0.0,106.0,0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,5363.076500,36357.0,68.0,0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.987980,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [19]:
# summing rows from the 3 dataframes, equals exactly 9132 rows, however to be sure I'll be any duplicates
duplicates = data_set_combined.duplicated()
duplicates.unique()

array([False])

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [20]:
data_set_marketing = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
data_set_marketing.drop(columns=['unnamed:_0'], inplace=True)
display(data_set_marketing)

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,48029,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,0,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,22139,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,49078,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,23675,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10905,FE99816,Nevada,15563.369440,No,Premium,Bachelor,2011-01-19,Unemployed,F,0,...,7,Personal Auto,Personal L1,Offer3,Web,1214.400000,Luxury Car,Medsize,A,1
10906,KX53892,Oregon,5259.444853,No,Basic,College,2011-01-06,Employed,F,61146,...,6,Personal Auto,Personal L3,Offer2,Branch,273.018929,Four-Door Car,Medsize,A,1
10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,39837,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,64195,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,0,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

In [21]:
data_set_marketing.isna().sum()

customer                         0
state                            0
customer_lifetime_value          0
response                         0
coverage                         0
education                        0
effective_to_date                0
employmentstatus                 0
gender                           0
income                           0
location_code                    0
marital_status                   0
monthly_premium_auto             0
months_since_last_claim          0
months_since_policy_inception    0
number_of_open_complaints        0
number_of_policies               0
policy_type                      0
policy                           0
renew_offer_type                 0
sales_channel                    0
total_claim_amount               0
vehicle_class                    0
vehicle_size                     0
vehicle_type                     0
month                            0
dtype: int64

In [22]:
data_set_marketing['sales_channel'].value_counts()

sales_channel
Agent          4121
Branch         3022
Call Center    2141
Web            1626
Name: count, dtype: int64

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [23]:
sales_channel_total = data_set_marketing.groupby('sales_channel').agg({'income':sum}).round(2)
display(sales_channel_total)
#as there are no "mail" results, it won't appear on our aggregation table.

                  income
sales_channel
Agent          152490152
Branch         113775608
Call Center     81055004
Web             62200103

In [24]:
sales_channel_total.sum()

income    409520867
dtype: int64

In [25]:
agent_percent = (152490152*100)/409520867
branch_percent = (113775608*100)/409520867
call_center_percent = (81055004*100)/409520867
web_percent = (62200103*100)/409520867
print("This is the percentage from Agent, compared to total income", round(agent_percent, 2))
print("This is the percentage from Branch, compared to total income", round(branch_percent,2))
print("This is the percentage from Call Center, compared to total income", round(call_center_percent,2))
print("This is the percentage from Web, compared to total income", round(web_percent,2))

This is the percentage from Agent, compared to total income 37.24
This is the percentage from Branch, compared to total income 27.78
This is the percentage from Call Center, compared to total income 19.79
This is the percentage from Web, compared to total income 15.19

In [26]:
#were we can see a strong dominance on Agent and Branch, being +50% of the income.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [27]:
avg_cust_lifetime = data_set_marketing.groupby(['education', 'gender']).agg({'customer_lifetime_value' : 'mean'}).round(2)
display(avg_cust_lifetime)

                             customer_lifetime_value
education            gender
Bachelor             F                       7874.27
                     M                       7703.60
College              F                       7748.82
                     M                       8052.46
Doctor               F                       7328.51
                     M                       7415.33
High School or Below F                       8675.22
                     M                       8149.69
Master               F                       8157.05
                     M                       8168.83

In [28]:
#in this table we can see that the mean per gender and education it's really similar, and there are no high differences. 
#Most difference we can see in Collegue, where male has a slight predominance comparing to female.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [29]:
month_complaints_policy_type = data_set_marketing.groupby(['month', 'policy_type']).agg({'number_of_open_complaints' : sum}).reset_index().round(2)
display(month_complaints_policy_type)

   month     policy_type  number_of_open_complaints
0      1  Corporate Auto                     443.43
1      1   Personal Auto                    1727.61
2      1    Special Auto                      87.07
3      2  Corporate Auto                     385.21
4      2   Personal Auto                    1453.68
5      2    Special Auto                      95.23

In [49]:
long_format = pd.melt(month_complaints_policy_type, id_vars=['month','policy_type'])
long_format.head()
long_format.rename(columns={'value':'number_of_open_complaints'})

   month     policy_type                   variable  number_of_open_complaints
0      1  Corporate Auto  number_of_open_complaints                     443.43
1      1   Personal Auto  number_of_open_complaints                    1727.61
2      1    Special Auto  number_of_open_complaints                      87.07
3      2  Corporate Auto  number_of_open_complaints                     385.21
4      2   Personal Auto  number_of_open_complaints                    1453.68
5      2    Special Auto  number_of_open_complaints                      95.23

In [50]:
long_format.drop(columns = 'variable')

   month     policy_type    value
0      1  Corporate Auto   443.43
1      1   Personal Auto  1727.61
2      1    Special Auto    87.07
3      2  Corporate Auto   385.21
4      2   Personal Auto  1453.68
5      2    Special Auto    95.23